.conainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 16px;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
}

.card * {
  margin: 0;
}

.card *+* {
  margin-top: 8px;
}

.card .image {
  float: right;
  text-align: center;
}

.card .name {
  margin-bottom: 16px;
  text-transform: capitalize;
}

.card .name span {
  font-size: .8em;
  font-weight: 400;
  vertical-align: top;
}
